.call-for-paper-paragraph {
  color: black;
  font-size: 17px;
  font-weight: 600;
  text-align: justify;
  text-justify: inter-word;
}
.register-table {
  font-size: 20px;
  color: green;
}
.points {
  font-size: 22px;
  color: #2081c3;
  font-weight: 800;
}

@media screen and (max-width: 768px) {
  .register-table {
    font-size: 10px;
  }
}
