.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 40px;
}

button {
  color: white;
  font-weight: 600;
  background-color: #2081c3;
  border: 2px solid #2081c3;
  padding: 10px 40px;
  border-radius: 4px;
  outline: 0;
}
button:hover{
  color: black;
  font-weight: 600;
  background-color: white;
  border: 2px solid black;
}