.section-header {
  margin-bottom: 50px;
  position: relative;
  padding-bottom: 13px;
}




.section-header p {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #9195a2;
}

.section-with-bg {
  background-color: #f6f7fd;
}

#venue {
  padding: 60px 0;
}

#venue .container-fluid {
  margin-bottom: 3px;
}

.img1 {
  background: url("../img/front1.jpg") top center no-repeat;
  background-size: cover;
  width: 10000px;
}

.text-justify {
  font-size: large;
}

@media screen and (max-width: 968px) {
  img {
    width: 100% !important;
  }

  .venue-cap {
    letter-spacing: 0 !important;
  }
}

.profile-wrapper {
  padding: 45px 50px;
}

.venue-cap {
  color: black;
  font-weight: 600;

  border-bottom: 5px solid #37a356;
  padding-bottom: 10px;
  margin-bottom: 50px;
  width: fit-content;
  margin-top: -19px;

  letter-spacing: 2px;
}
