/*--------------------------------------------------------------
# Venue Section
--------------------------------------------------------------*/
/* Sections Header
--------------------------------*/
.section-header {
  margin-bottom: 50px;
  position: relative;
  padding-bottom: 13px;
}

.section-header::before {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 5px;
  background: #87d499;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-header h2 {
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}

.section-header p {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #9195a2;
}

.section-with-bg {
  background-color: #f6f7fd;
}

#venue {
  padding: 60px 0;
}

#venue .container-fluid {
  margin-bottom: 3px;
}

#venue .venue-map iframe {
  width: 100%;
  height: 100%;
  min-height: 300px;
}

#venue .venue-info {
  /*background: url("../img/info2.jpg") top center no-repeat;*/
  background-size: cover;
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
}
#venue .venue-info1 {
  background: url("../img/info1.jpg") top center no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
}
#venue .venue-info2 {
  background: url("../img/info1.jpg") top center no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
}
#venue .venue-info:before {
  content: "";
  background: #ff0000;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#venue .venue-info h3 {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}

@media (max-width: 574px) {
  #venue .venue-info h3 {
    font-size: 24px;
  }
}

#venue .venue-info p {
  color: #fff;
  margin-bottom: 0;
}

#venue .venue-gallery-container {
  padding-right: 12px;
}

#venue .venue-gallery {
  overflow: hidden;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
}

#venue .venue-gallery img {
  transition: all ease-in-out 0.4s;
}

#venue .venue-gallery:hover img {
  transform: scale(1.1);
}
#venue1 .venue-gallery {
  overflow: hidden;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
}
#venue1 .venue-gallery img {
  transition: all ease-in-out 0.4s;
}

#venue1 .venue-gallery:hover img {
  transform: scale(1.1);
}
#venue .venue-cap {
  color: #fff;
  font-weight: 600;
  border-bottom: 5px solid #87d499;
  padding-bottom: 10px;
  width: fit-content;
  margin-top: -19px;
  letter-spacing: 2px;
}
@media (max-width: 480px) {
  #venue .venue-info2 {
    display: flex;
  }
}
