@import "../../mobile.scss";

.intro {
  background: url('../img/RAME2016-1.JPG') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: lighten;
  display: flex;
  justify-content: center;
  align-items: center;
    .wrapper {
      
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
    

      @include mobile {
        padding-left: 0;
        padding-right: 0;
        align-items: center;
      }

      h2,
      h1 {
       
        font-size: 35px;
       text-align: center;
       padding: 10px 20px;
        
        @include mobile {
          font-size: 20px;
        }
      }
      h1 {
        font-size: 50px;
        font-weight: 400;
      }
      h2 {
        margin-top: -25px;
        font-size: 25px;
        font-weight: 500;
      }
      h3 {
        font-size: 25px;
        font-weight:400;
        @include mobile {
          font-size: 20px;
        }

        span {
          font-size: 25px;
          font-weight: 800;
          color: rgba(22, 93, 187, 0.185);
          text-align: center;
        }

        .ityped-cursor {
          animation: blink 3s infinite;
        }

        @keyframes blink {
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }
    }
  }

